<!DOCTYPE html>
<html>
<head>
  <title><%= content_for?(:title) ? yield(:title) : 'Shaan Indian' %></title>

  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>

  <%= favicon_link_tag %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= render 'layouts/navigation' %>

  <!-- Wrapper -->
  <div id="wrapper">
    <!-- Header -->
    <header>
      <!-- Container -->
      <div class="container">
        <!-- Row -->
        <div class="row head_top">
          <!-- Main Navigation -->
          <div class="col col-md-5">
            <nav class="cl-effect-4">
              <!-- #navigation -->
              <div id="navigation">
                <%= yield :navigation %>
              </div>
              <!-- #navigation ends -->
            </nav>
          </div>
          <!-- Main Navigation Ends -->
          <div class="col col-md-2 col-sm-12">
            <!-- Logo -->
            <div class="logo text-center">
              <p>
                <%= image_tag('knife') %>
                <br />Shaan Indian
              </p>
            </div>
            <!-- Logo ends -->
          </div>
          <!-- Top Social Media -->
          <div class="col-md-5 col-sm-12">
            <ul class="menu social text-right">
              <li>
                <a class="fa-icons" href="https://www.facebook.com/pages/Shaan-Indian-Cuisine/388817910281">
                  <i class="fa fa-facebook"></i>
                </a>
              </li>
              <li>
                <a class="fa-icons" href="#">
                  <i class="fa fa-twitter"></i>
                </a>
              </li>
              <li>
                <a class="fa-icons" href="#">
                  <i class="fa fa-instagram"></i>
                </a>
              </li>
              <li>
                <a class="fa-icons" href="#">
                  <i class="fa fa-pinterest"></i>
                </a>
              </li>
            </ul>
          </div>

          <div class="clearfix"></div>
        </div>
        <!-- Row Ends -->
      </div>
      <!-- Container Ends -->
    </header>
    <!-- Header ends -->
    <!-- Main -->
    <div id="main">

      <%= yield %>

      <%= render 'layouts/footer' %>

    </div>
    <!-- Main Ends -->
  </div>
  <!-- Wrapper Ends -->

  <%= javascript_include_tag 'application', 'data-turbolinks-eval' => false %>

</body>
</html>
